.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/
npm-debug.log
yarn-error.log
/1.json
/package-lock.json
/yarn.lock
/*.bat
/.awcache
/*.zip
